* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  background-repeat: no-repeat;
  background-position: center;
}

/* antd icons */
.anticon svg {
  font-size: 20px;
  cursor: pointer;
}

.active-icon {
  color: black;
}

.inactive-icon {
  color: gray;
}

.switch-icons {
  border: 1px solid rgba(0, 0, 0, 0.671);
  border-radius: 5px;
  padding: 10px 15px;
}

/* antd icons exit*/